@media all and (min-width: 1366px) and (max-width: 1910px) /*ordinateur*/
{
    html {
        zoom: 0.8;
    }

    .topnav input[type=text]:focus 
    {
    width: 13%;
    cursor: text;
    }
}

@media screen and (max-width: 1365px ) /*768*/
{
    body
    {
        background-position: initial;
        background-repeat: repeat;
    }

    .social
    {
        display: none;
    }

    header
    {
        display: none;
    }

    nav 
    {
        display: block;
    }
    .test
    {
        height: 135px;
        width: 200%;
        margin-top: -113px;
        background-color: rgba(19, 19, 19, 0.822);
        position: fixed;
        z-index: 9;
    }
    #menuToggle img
    {
        margin-left: 285px;
        width: 350px;
        height: 350px;
    }
    #menuToggle
    {
    display: block;
    position: relative;
    top: 15px;
    left: 50px;
    
    z-index: 9;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    font-family: 'para';
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #f0eeee;
    padding-top: 50px;
    font-size: 55px;
    margin-top: 20px;
    margin-left: 30px;
    
    transition: color 0.3s ease;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; 
    z-index: 2; 
    
    -webkit-touch-callout: none;
    }

    #menuToggle span
    {
    display: block;
    width: 100px;
    height: 10px;
    margin-top: 15px;
    margin-bottom: 19px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 1px);
    background: #ffffff;
    }


    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
    position: absolute;
    width: 100%;
    height: 2500px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #070707;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    #menuToggle input:checked ~ ul
    {
    transform: none;
    }

    #menuToggle input[type=text] 
    {
    cursor: pointer;
    width: 1px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/search-ico.png);
    background-size: 18px;
    /* background-position: 0px 2px;
    background-repeat: no-repeat; */
    padding: 0px 0px 0px 18px;
    margin-top: 15px;
    transition: width 0.4s;
    color: rgba(255, 255, 255, 0.842);
    border-color: rgba(165, 42, 42, 0);
    }
  
    #menuToggle input[type=text]:focus 
    {
    width: 15%;
    cursor: text;

    }

    #menu span
    {
    display: block;
    width: 45%;
    height: 5px;
    margin-top: 50px;
    background: #d6d1d167;
    border-radius: 3px;
    }

    .Logo1
    {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    }

    #ligne
    {
        width: 66%;
        height: 4px;
    }
    section h1
    {
        font-size: 120px;
    }
    section h2
    {
        font-size: 130px;
    }
    section p
    {
        margin-left: 25px;
        margin-right: 25px;
        line-height: 50px;
        margin-top: 85px;
    }

    .dot
    {
        width: 28px;
        height: 28px;
        margin: 50px 9px;
    }

    .about-me
    {
        height: 1500px;
        width: 103%;
    }

    .photo-about-me
    {
        height: 500px;
    }

    .ligne-about
    {
        width: 66%;
        height: 4px;
        margin-top: 665px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me p
    {
        font-size: 40px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    .about-me h1
    {
        margin-top: 85px;
        text-align: center;
        margin-left: auto;
        font-size: 150px;
    }

    .about-me h2
    {
        width: 45%;
        height: 53px;
        font-size: 38px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .porto
    {
        background-size: auto;
        background-repeat: repeat;
        margin-top: 1526px;
        width: 103%;
        height: 687px;
    }

    .porto h1
    {
        margin-top: 25px;
    }
    .porto h2
    {
        font-size: 150px;
        padding-top: 45px;
    }
    .porto h3
    {
        font-size: 48px;
        margin-top: 45px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .porto .more
    {
        width: 30%;
        height: 55px;
        font-size: 38px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
    }

    .ligne-porto
    {
        margin-top: 30px;
        height: 4px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow-container 
    {
        display: block;
        max-width: 1000px;
        position: relative;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: au25pxto;
    }
    
    .prev, .next 
    {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    .next 
    {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover 
    {
        background-color: rgba(0,0,0,0.8);
    }
    
    
    
    .casse-blanc .dot-container
    {
        display: none;
    }
    
    .fade 
    {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade 
    {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes fade 
    {
        from {opacity: .4} 
        to {opacity: 1}
    }

    .casse-blanc
    {
        width: 103%;
        height: 1480px;
    }

    .casse-blanc .colonne-1
    {
        display: none;
    }
    .casse-blanc .colonne-2
    {
        display: none;
    }
    .casse-blanc .colonne-3
    {
        display: none;
    } 

    .video
    {
        background-size: auto;
        background-repeat: repeat;
        width: 103%;
        height: 530px;
        margin-top: 13px;
    }
    
    .video h1
    {
        margin-top: 45px;
        font-size: 85px;
    }

    .ligne-video
    {
        margin-top: 30px;
        height: 4px;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }

    .video h3
    {
        font-size: 48px;
        margin-top: 35px;
    }

    .video-2
    {
        margin-top: 540px;
        width: 103%;
        height: 2650px;
    }

    .photo-video
    {
        width: 95%;
        height: auto;
    }

    .video-2 .ligne-videoytb
    {
        width: 15%;
    }


    .text-l    
    {
        display: none;
    }
    .media-text1
    {
        display: block;
        margin-top: 20px;
    }
    .media-text2
    {
        display: block;
        margin-top: 20px;
    }
    .media-text3
    {
        display: block;
        margin-top: 20px;
    }

    .video-liste span
    {
        display: block;
        height: 2px;
        width: 45px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(0, 0, 0);   
    }

    .video-liste
    {
        display: block;
    }
    .ligne-s
    {
        display: none;
    }
    .more-video
    {
        display: none;
    }
    .separation
    {
        margin-top: 200px;
    }

    .video-2 p
    {
        font-size: 35px;
    }

    .v1
    {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .v2
    {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }
    .v3
    {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }




    .monials
    {
        width: 103%;
        height: 3920px;
    }

    .monials h2
    {
        font-size: 140px;
    }

    .monials h1
    {
        font-size: 50px;
    }

    .box
    {
        display: block;

    }

    .box1
    {
        display: block;
        width: 55%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }
    .box2
    {
        display: block;
        width: 55%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 180px;
    }
    .box3
    {
        display: block;
        width: 55%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 190px;
    }

    .boximg1
    {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .boximg2
    {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .boximg3
    {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .box h1
    {
        font-size: 60px;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .box p
    {
      font-size: 38px;
      line-height: 50px;
      margin-top: 40px;
    }

    .contact
    {
        width: 103%;
        height: 5000px;
    }

    .contact h1
    {
        font-size: 135px;
    }

    .contact h2
    {
        font-size: 70px;
    }

    .text-input1
    {

    }

    .text-input2
    {

    }

    .text-input3
    {

    }

    .container
    {
        display: block;
    }

    .container p
    {
        font-size: 50px;
        margin-left: auto;
        text-align: center;
        line-height: 60px;

    }

    .container .colo1
    {
        width: auto;
    }
    .container .colo2
    {
        width: 50%;
        margin-left: auto;
        margin-right: 5%;       
        margin-top: -200px;
    }

    .container h4
    {
        font-size: 50px;
    }
    .container h5
    {
        font-size: 50px;
    }
    .container h3
    {
        font-size: 50px;
    }
    .text-input1[type=text] 
    {

    }
    .text-input1[type=text]:focus
    {

    
    }
    .text-input2[type=text] 
    {

    }
    .text-input3[type=text] 
    {

    }









    .ending
    {
        width: 103%;
    }

    .ending .topnav
    {
        display: none;
    }
}