
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url("../images/background1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

nav
{
    display: none;
}

header nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    font-weight: 350;
}

header nav a 
{
    float: left;
    color: #d6d6d6b0;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'menu';
    transition-property: color;
    transition-duration: 1s;
    cursor: pointer;
}
  
header nav a.active 
{
    text-decoration: underline ;
    color: rgb(255, 255, 255);
}

header nav a:hover
{
    color: #ffffff;
}


section
{
    text-align: center;
    margin-top: 115px;
    color: white;
    transition-duration: 2s;
    transition:  0.6s ease;

}

section h2
{
    font-family: 'principal';
    font-size: 80px;
}

#ligne
{
    height: 1px;
    width: 22%;
    background-color: white;
    margin: auto;
    margin-top: 25px;
}

section h1
{
    font-family: 'titre h1';
    font-size: 85px;
    margin-top: 75px;
}

section p
{
    font-family:'para';
    font-size: 19px;
    margin-top: 55px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    line-height: 28px;
}


.social 
{
    width: 60px;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 95%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 28px;
}
  
.social a 
{
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'social';
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    
}
  
  /* La couleur en arrière plan en fondu */
.social a:hover 
{
    background-color: rgba(0, 0, 0, 0.411);
}

a:visited
{
    color: white !important;
    
}

header .topnav input[type=text] 
{
    cursor: pointer;
    width: 1px;
    font-size: 18px;
    background-color: rgba(219, 219, 219, 0);
    background-image: url(../images/search-ico.png);
    background-size: 18px;
    background-position: 0px 2px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 18px;
    margin-top: 15px;
    transition: width 0.4s;
    color: rgba(255, 255, 255, 0.842);
    border-color: rgba(165, 42, 42, 0);
}
  
header .topnav input[type=text]:focus 
{
    width: 13%;
    cursor: text;

}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  

.prev:hover, .next:hover 
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.dot-container {
    text-align: center;
    padding: 95px;
    background: rgba(221, 221, 221, 0);
}
  
.dot 
{
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-containerc.dot .active, .dot:hover 
{
    background-color: #717171;
}

.about-me
{
    position: absolute;
    z-index: 1;
    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
}

.photo-about-me
{
    position: absolute;
    margin-top: 5%;
    height: 295px;
    margin-left: 25%;
}

.ligne-about
{
    height: 79%;
    width: 1px;
    background-color: rgb(0, 0, 0);
    margin-left: 47%;
    margin-top: 50px;
}

.about-me h1
{
    font-family: 'principal';
    font-size: 78px;
    margin-left: 50%;
    margin-top: -385px;
}

.about-me p
{
    font-family: 'para';
    font-size: 18px;
    color: black;
    margin-left: 50%;
    margin-top: 35px;
}

.about-me h2
{
    font-family: 'para';
    box-sizing: border-box;
    width: 15%;
    height: 31px;
    border: solid rgba(0, 0, 0, 0.397) 1px;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.699);
    margin-left: 50%;
    margin-top: 35px;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
    padding-top: 2px;
    font-weight: 850;
}

.about-me h2:hover
{
    background-color: rgba(143, 143, 143, 0.445);
}

.porto
{
    background-image: url(../images/BG.png), url(../images/Flowers.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 525px;
    height: 375px;
    width: 100%;
    background-color: #9f9190;
}

.porto h2
{
    font-family: 'principal';
    font-size: 65px;
    text-align: center;
    padding-top: 19px;
}

.porto h1
{
    font-family: 'titre h1';
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
    color: white;
}

.ligne-porto
{
    height: 2px;
    width: 36%;
    background-color: rgb(255, 255, 255);
    margin-left: 32%;
    margin-top: 10px;
}

.porto h3
{
    font-family: 'para';
    font-size: 39px;
    text-align: center;
    color: #3d3938;
    margin-top: 10px;
}

.more
{
    font-family: 'para';
    box-sizing: border-box;
    width: 9%;
    height: 30px;
    border: solid #3f3b3a 1px;
    font-size: 20px;
    text-align: center;
    color: #383433;
    margin-left: 45%;
    margin-top: 35px;
    transition-property: background-color;
    transition-duration: 1s;
    cursor: pointer;
    padding-top: 1px;
    font-weight: 1000;
}

.more:hover
{
    background-color: rgba(255, 255, 255, 0.767);
}

.casse-blanc
{
    position: absolute;
    z-index: 0;
    height: 1690px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.colonne-1
{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 70px;
}

.casse-blanc .colo1
{
    order: 1;
    width: 545px;
    height: 735px;
    
}

.casse-blanc .colo1-1
{
    order: 2;
    width: 545px;
    height: 735px;
    margin-top: 45px;
}

.colonne-2
{
    display: flex;
    flex-direction: column;
    margin-left: 670px;
    margin-top: -1515px;
}

.casse-blanc .colo2
{
    order: 1;
    flex-grow: 2;
    width: 570px;
    height: 350px;
}

.casse-blanc .colo2-2
{
    order: 2;
    width: 570px;
    height: 735px;
    margin-top: 45;
    margin-top: 45px;
}

.casse-blanc .colo2-3
{
    order: 3;
    flex-grow: 2;
    width: 570px;
    height: 341px;;
    margin-top: 45px;
}

.colonne-3
{
    display: flex;
    flex-direction: column;
    margin-left: 1290px;
    margin-top: -1520px
    ;
}

.casse-blanc .colo3
{
    order: 1;
    width: 545px;
    height: 735px;
}
.casse-blanc .colo3-2
{
    order: 2;
    width: 545px;
    height: 741px;
    margin-top: 45px;
}

.casse-blanc .prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  

.prev:hover, .next:hover 
{
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.casse-blanc .dot-container {
    text-align: center;
    padding: 65px;
    background: rgba(221, 221, 221, 0);
}
  
.casse-blanc .dot 
{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgba(48, 48, 48, 0.575);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.casse-blanc .dot-containerc.dot .active, .dot:hover 
{
    background-color: #000000ab;
}

.video
{
    background-image: url(../images/BG.png), url(../images/Flowers.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1690px;
    height: 340px;
    width: 100%;
    background-color: #9f9190;
    position: absolute;
    z-index: 1;
}


.video h1
{
    font-family: 'titre h1';
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.ligne-video
{
    height: 2px;
    width: 278px;
    background-color: rgb(255, 255, 255);
    margin-left: 43%;
    margin-top: 20px;
}

.video h3
{
    font-family: 'para';
    font-size: 28px;
    text-align: center;
    color: #3d3938;
    margin-top: 20px;
}

.video-2
{
    display: block;
    z-index: 0;
    height: 1300px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 2029px;
}

.photo-video
{
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 555px;
}

.video-2 .ligne-videoytb
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}

.video-2 p
{
    font-family: 'para';
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.692);
    margin-top: 25px;
    font-size: 21px;
    line-height: 32px;

}

.video-liste
{
display: flex;
justify-content: space-around;
margin-top: 50px;
}

.v1
{
    order: 2;
    width: 460px;
    height: 260px;
}
.v2
{
    order: 1;
    width: 460px;
    height: 260px;
}
.v3
{
    order: 3;
    width: 460px;
    height: 260px;
}

.ligne-s
{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin-top: 25px;
}

.l1
{
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}

.l2
{
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}

.l3
{
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}

.text-l
{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    font-family: 'para';
    font-size: 20px;
    margin-top: 25px;
}

.more-video
{
    font-family: 'para';
    box-sizing: border-box;
    width: 9%;
    height: 30px;
    border: solid #3f3b3a 1px;
    font-size: 20px;
    text-align: center;
    color: #383433;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    transition-property: background-color;
    transition-duration: 0.8s;
    cursor: pointer;
    padding-top: 1px;
    font-weight: 1000;
}

.more-video:hover
{
    background-color: rgba(143, 143, 143, 0.445);
}
.separation
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 2px;
    width: 95%;
    background-color: rgb(0, 0, 0);
}

.monials
{
    display: block;
    height: 940px;
    width: auto;
    background-color: rgb(255, 255, 255);
}

.monials h2
{
    font-family: 'principal';
    text-align: center;
    font-size: 85px;
    padding-top: 45px;
    
}

.monials h1
{
    font-family: 'titre h1';
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

.boximg1
{
    margin-top: -150px;
    margin-left: 65px;

}

.boximg2
{
    margin-top: -150px;
    margin-left: 65px;
}
.boximg3
{
    margin-top: -150px;
    margin-left: 65px;
}

.box
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 180px;
}
.box1
{
    box-sizing: border-box;
    width: 18%;
    height: 450px;
    border: solid #3f3b3a 1px;
}

.box2
{
    box-sizing: border-box;
    width: 18%;
    height: 450px;
    border: solid #3f3b3a 1px;
}

.box3
{
    box-sizing: border-box;
    width: 18%;
    height: 450px;
    border: solid #3f3b3a 1px;
}

.box h1
{
    font-family: 'para';
    text-align: center;
    margin-right: 1px;
}

.box p
{
    font-family: 'para';
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 28px;
}

.contact
{
    display: block;
    height: 940px;
    background-position: center;
    background-image: url('../images/bg-contact.PNG');
}

.contact h2
{
    font-family: 'para';
    font-size: 55px;
    text-align: center;
    margin-top: 15px ;
    font-weight: normal;

}

.contact h1
{
    font-family: 'principal';
    font-size: 60px;
    text-align: center;
    padding-top: 45px;
}

.ligne-de-contact
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 1px;
    width: 65%;
    background-color: rgb(0, 0, 0);
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.container .colo1
{
    order: 1;
    box-sizing: border-box;
    width: 18%;
    height: 450px;
    border: solid 0px;
}

.container .colo2
{
    order: 2;
    box-sizing: border-box;
    width: 22%;
    border: solid 0px;
}
.container img
{
    width: 100%;
}
.container p
{
    font-family: 'para';
    font-size: 19px;
    line-height: 30px;
    margin-top: 10px;
}
.container h4
{
    font-family: 'para';
    font-size: 18px;
    margin-top: 10px;
}
.container h5
{
    font-family: 'para';
    font-size: 18px;
    margin-top: 10px;
}
.container h3
{
    font-family: 'para';
    font-size: 16px;
    margin-top: 10px;
}
input[name="name"] 
{
    font-family: 'para';
    width: 315px;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(13, 12, 12, 0.45)
}

input[name=email] 
{
    font-family: 'para';
    width: 315px;
    height: 30px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(13, 12, 12, 0.45)
}
textarea[name=subject] 
{
    resize: none;
    font-family: 'para';
    width: 315px;
    height: 265px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(13, 12, 12, 0.45)
}
input[value=Submit]
{
    font-family: 'para';
    font-size: 15px;
    width: 25%;
    height: 25px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(13, 12, 12, 0.45);
}

input[value=Submit]:active 
{
    transform: scale(1.1) ;
}

input[value=Submit]:hover
{
    transition-duration: 0.3s;
    background-color: rgba(29, 29, 29, 0.685);
    color: rgb(255, 255, 255);
}

.ending
{
    background-image: url(../images/BG.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 340px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.ending nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    font-weight: 350;
}

.ending nav a 
{
    float: left;
    color: #d6d6d6b0;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'menu';
    transition-property: color;
    transition-duration: 1s;
    cursor: pointer;
}

.ending nav a:hover
{
    color: #ffffff;
}

.ending p
{
    font-family: 'social';
    text-align: center;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.822);
    margin-top: 10px;
    letter-spacing: 0.3em
}

.ending h1
{
    font-family: 'para';
    text-align: center;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.822);
    margin-top: 30px;
    line-height: 25px
}

.ending .topnav input[type=text] 
{
    cursor: pointer;
    width: 1px;
    font-size: 18px;
    background-color: rgba(219, 219, 219, 0);
    background-image: url(../images/search-ico.png);
    background-size: 18px;
    background-position: 0px 2px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 18px;
    margin-top: 15px;
    transition: width 0.4s;
    color: rgba(255, 255, 255, 0.842);
    border-color: rgba(165, 42, 42, 0);
}
  
.ending .topnav input[type=text]:focus 
{
    width: 13%;
    cursor: text;

}

.slideshow-container
{
    display: none;
}

.media-text1
{
    display: none;
}
.media-text2
{
    display: none;
}
.media-text3
{
    display: none;
}
.videlo-liste span
{
    display: none;
}
.container .colo2 .logo1
{
    display: none;
}

.submit
{
    margin-top: 10px;
}
